#LaTeX Garbage
/Documentacion/**/*.aux
/Documentacion/**/*.bbl
/Documentacion/**/*.blg
/Documentacion/**/*.tdo
/Documentacion/**/*.pdf
/Documentacion/**/*.log
/Documentacion/**/*.toc
/Documentacion/**/*.synctex.gz

#Unreal built files
Binaries/*
Intermediate/*
Saved/*
Content/ThirdPersonCPP/Maps/Level1_BuiltData.uasset
Content/ThirdPersonCPP/Maps/Level2_BuiltData.uasset

#Visual Studio files
AeroFighters.sln
Alliance.sln
.vs/*


# Not tracked assets
Content/AutomotiveMaterials/*
Content/InfinityBladeEffects/*
Content/InfinityBladeGrassLands/*
Content/KiteDemo/*
Content/Lighting/*
Content/ParagonCrunch/*
Content/ParagonHowitzer/*
Content/ParagonKhaimera/*
Content/ParagonKwang/*
Content/ParagonFengMao/*
Content/ParagonGrux/*
Content/ParagonPhase/*
Content/ParagonProps/*
Content/ParagonRampage/*
Content/ParagonSerath/*
Content/ParagonTwinblast/*
Content/SampleMap/*
Content/SoulCity/*
