#LaTeX Garbage
./GDD/GDD.aux
./GDD/GDD.bbl
./GDD/GDD.blg
./GDD/GDD.tdo
./GDD/GDD.pdf
./GDD/GDD.log
./GDD/GDD.toc
./GDD/GDD.synctex.gz

#Unreal built files
Binaries/*
Intermediate/*
Saved/*
Content/ThirdPersonCPP/Maps/Level1_BuiltData.uasset

#Visual Studio files
AeroFighters.sln
.vs/*


# Not tracked assets
Content/InfinityBladeEffects/*
Content/InfinityBladeGrassLands/*
Content/KiteDemo/*
Content/Lighting/*
Content/ParagonCrunch/*
Content/ParagonHowitzer/*
Content/ParagonKhaimera/*
Content/ParagonKwang/*
Content/ParagonFengMao/*
Content/ParagonGrux/*
Content/ParagonPhase/*
Content/ParagonProps/*
Content/ParagonRampage/*
Content/ParagonSerath/*
Content/ParagonTwinblast/*
Content/SampleMap/*
Content/SoulCity/*
