#LaTeX Garbage
./GDD/GDD.aux
./GDD/GDD.bbl
./GDD/GDD.blg
./GDD/GDD.tdo
./GDD/GDD.pdf
./GDD/GDD.log
./GDD/GDD.toc
./GDD/GDD.synctex.gz

#Unreal built files
Binaries/*
Intermediate/*
Saved/*

#Visual Studio files
AeroFighters.sln
.vs/*


# Not tracked assets
Content/InfinityBladeEffects/*
Content/InfinityBladeGrassLands/*
Content/KiteDemo/*
Content/Lighting/*
Content/ParagonProps/*
Content/Paragon/Serath/*
Content/ParagonTwinblast/*
ContentSampleMap/*